h1{
    color: red;
    background-color: yellow;
    text-align: center;
}

ul{
    background-color: aqua;
    font-size: 15px;
    width: 200px;
    padding: 50px;
    text-align: center;
}

ol{
    background-color: gold;
    width: 200px;
    margin: 50px;
}

p{
    color: blue;
    font-weight: bold;
    font-style: italic;
    line-height: 25px;
}

#perfil{
    background-color: lightcoral;
    width: 300px;
    height: 300px;
}

.subtitulos{
    color: crimson;
    background-color: darksalmon;
    width: 300px;
}

.titulo{
    background: rgb(2,0,36);
    background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(235,182,82,0.2665441176470589) 35%, rgba(0,212,255,1) 100%);  
}

.caja{
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
}

#fotoPerfil{
    box-shadow: 60px -9px 43px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 60px -9px 43px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 60px -9px 43px -6px rgba(0,0,0,0.75);

    border-radius: 50%;
}

.item{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-roja{
    background-color: red;
}
.caja-azul{
    background-color: blue;
}
.caja-verde{
    background-color: green;
}

.contenedor {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:end;
    border: 1px solid;
}

.contenedor2{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid;
}

.contenedor3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    border: 1px solid;
}